In [1]:
%load_ext sql

In [2]:
%sql postgresql://student:student@127.0.0.1/sparkifydb

In [3]:
%sql SELECT * FROM songplays LIMIT 5;

 * postgresql://student:***@127.0.0.1/sparkifydb
0 rows affected.

[]

In [4]:
%sql SELECT * FROM users LIMIT 5;

 * postgresql://student:***@127.0.0.1/sparkifydb
0 rows affected.

[]

In [5]:
%sql SELECT * FROM songs LIMIT 5;

 * postgresql://student:***@127.0.0.1/sparkifydb
5 rows affected.

[('SOBLGCN12AB0183212', 'James (Hold The Ladder Steady)', 'AR47JEX1187B995D81', 1985, Decimal('124.86485')),
 ('SOGOSOV12AF72A285E', '¿Dónde va Chichi?', 'ARGUVEV1187B98BA17', 1997, Decimal('313.12934')),
 ('SOZCTXZ12AB0182364', 'Setanta matins', 'AR5KOSW1187FB35FF4', 0, Decimal('269.58322')),
 ('SOBBUGU12A8C13E95D', 'Setting Fire to Sleeping Giants', 'ARMAC4T1187FB3FA4C', 2004, Decimal('207.77751')),
 ('SOOLYAZ12A6701F4A6', 'Laws Patrolling (Album Version)', 'AREBBGV1187FB523D2', 0, Decimal('173.66159'))]

In [6]:
%sql SELECT * FROM artists LIMIT 5;

 * postgresql://student:***@127.0.0.1/sparkifydb
5 rows affected.

[('AR47JEX1187B995D81', 'SUE THOMPSON', 'Nevada, MO', Decimal('37.83721'), Decimal('-94.35868')),
 ('ARGUVEV1187B98BA17', 'Sierra Maestra', '', None, None),
 ('AR5KOSW1187FB35FF4', 'Elena', 'Dubai UAE', Decimal('49.80388'), Decimal('15.47491')),
 ('ARMAC4T1187FB3FA4C', 'The Dillinger Escape Plan', 'Morris Plains, NJ', Decimal('40.82624'), Decimal('-74.47995')),
 ('AREBBGV1187FB523D2', "Mike Jones (Featuring CJ_ Mello & Lil' Bran)", 'Houston, TX', None, None)]

In [7]:
%sql SELECT * FROM time LIMIT 5;

 * postgresql://student:***@127.0.0.1/sparkifydb
0 rows affected.

[]

## REMEMBER: Restart this notebook to close connection to `sparkifydb`
Each time you run the cells above, remember to restart this notebook to close the connection to your database. Otherwise, you won't be able to run your code in `create_tables.py`, `etl.py`, or `etl.ipynb` files since you can't make multiple connections to the same database (in this case, sparkifydb).