In [9]:
%load_ext sql

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

In [10]:
%sql postgresql://student:student@127.0.0.1/sparkifydb

In [11]:
%sql SELECT * FROM songplays LIMIT 5;

 * postgresql://student:***@127.0.0.1/sparkifydb
0 rows affected.

[]

In [12]:
%sql SELECT * FROM users LIMIT 5;

 * postgresql://student:***@127.0.0.1/sparkifydb
0 rows affected.

[]

In [13]:
%sql SELECT * FROM songs LIMIT 5;

 * postgresql://student:***@127.0.0.1/sparkifydb
1 rows affected.

[('SOBLGCN12AB0183212', 'James (Hold The Ladder Steady)', 'AR47JEX1187B995D81', 1985, Decimal('124.86485'))]

In [14]:
%sql SELECT * FROM artists LIMIT 5;

 * postgresql://student:***@127.0.0.1/sparkifydb
1 rows affected.

[('AR47JEX1187B995D81', 'SUE THOMPSON', 'Nevada, MO', Decimal('37.83721'), Decimal('-94.35868'))]

In [15]:
%sql SELECT count(*) FROM time LIMIT 5;

 * postgresql://student:***@127.0.0.1/sparkifydb
1 rows affected.

[(1,)]

## REMEMBER: Restart this notebook to close connection to `sparkifydb`
Each time you run the cells above, remember to restart this notebook to close the connection to your database. Otherwise, you won't be able to run your code in `create_tables.py`, `etl.py`, or `etl.ipynb` files since you can't make multiple connections to the same database (in this case, sparkifydb).